n8n-workflows/deploy-log.json
{
  "name": "Deploy Log -> Google Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deploy-log",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Deploy Log Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "deploy-log-hook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{ $json.body.token }}", "operation": "equals", "value2": "={{ $env.WEBHOOK_SECRET }}" }]
        }
      },
      "id": "auth-check",
      "name": "Token Dogrula",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.SHEETS_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Hosting Deploy Log" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tarih": "={{ new Date().toLocaleString('tr-TR') }}",
            "Alan Adi": "={{ $json.body.domain || '' }}",
            "Islem": "={{ $json.body.action || '' }}",
            "Arac": "={{ $json.body.tool || '' }}",
            "Durum": "={{ $json.body.status || '' }}",
            "URL": "={{ $json.body.url || '' }}",
            "Notlar": "={{ $json.body.notes || '' }}"
          }
        }
      },
      "id": "append-to-sheets",
      "name": "Sheets'e Ekle",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "google-sheets-cred", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\": true}"
      },
      "id": "respond",
      "name": "Basarili Yanit",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Deploy Log Webhook": { "main": [[{ "node": "Token Dogrula", "type": "main", "index": 0 }]] },
    "Token Dogrula": { "main": [[{ "node": "Sheets'e Ekle", "type": "main", "index": 0 }]] },
    "Sheets'e Ekle": { "main": [[{ "node": "Basarili Yanit", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
