n8n-workflows/github-to-gcp-deploy.json
{
  "name": "GitHub Push -> GCP Cloud Build Deploy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "github-push-hook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{ $json.body.ref }}", "operation": "contains", "value2": "refs/heads/main" }]
        }
      },
      "id": "filter-main",
      "name": "Sadece Main Branch",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://cloudbuild.googleapis.com/v1/projects/{{ $env.GCP_PROJECT_ID }}/triggers/{{ $env.CLOUD_BUILD_TRIGGER_ID }}:run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "jsonParameters": true,
        "bodyParametersJson": "={{ JSON.stringify({ branchName: $json.body.ref.replace('refs/heads/', ''), commitSha: $json.body.head_commit.id }) }}",
        "options": {}
      },
      "id": "trigger-cloud-build",
      "name": "Cloud Build Tetikle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": { "httpHeaderAuth": { "id": "gcp-auth-header", "name": "GCP Bearer Token" } }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $env.APPS_SCRIPT_URL }}",
        "jsonParameters": true,
        "bodyParametersJson": "={{ JSON.stringify({ token: $env.WEBHOOK_SECRET, type: 'deploy', domain: $env.GCP_PROJECT_ID + '.run.app', action: 'cloud-build-trigger', tool: 'gcp', status: 'triggered', url: '', notes: 'Commit: ' + $('GitHub Webhook').item.json.body.head_commit.message }) }}"
      },
      "id": "log-to-sheets",
      "name": "Sheets'e Deploy Logu At",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, build: $json }) }}"
      },
      "id": "respond",
      "name": "Webhook Yaniti",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "GitHub Webhook": { "main": [[{ "node": "Sadece Main Branch", "type": "main", "index": 0 }]] },
    "Sadece Main Branch": { "main": [[{ "node": "Cloud Build Tetikle", "type": "main", "index": 0 }]] },
    "Cloud Build Tetikle": { "main": [[{ "node": "Sheets'e Deploy Logu At", "type": "main", "index": 0 }]] },
    "Sheets'e Deploy Logu At": { "main": [[{ "node": "Webhook Yaniti", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
