n8n-workflows/sheets-to-wordpress.json
{
  "name": "Sheets Projeler -> WordPress Draft",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 1 }] }
      },
      "id": "schedule-trigger",
      "name": "Her Saat Tetikle",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "readAllRows",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.SHEETS_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Projeler" }
      },
      "id": "read-sheets",
      "name": "Projeler Sayfasini Oku",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "google-sheets-cred", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{ $json['Asama'] }}", "operation": "equals", "value2": "Yayina Hazir" }]
        }
      },
      "id": "filter-ready",
      "name": "Yayina Hazir Filtrele",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "requestMethod": "POST",
        "url": "={{ $env.WP_URL }}/wp-json/wp/v2/posts",
        "jsonParameters": true,
        "bodyParametersJson": "={{ JSON.stringify({ title: $json['Proje Adi'], status: 'draft', content: '<p>Arac: ' + $json['Birincil Arac'] + '</p><p>Asama: ' + $json['Asama'] + '</p><p>Drive: ' + ($json['Drive Klasor Linki'] || '') + '</p>', meta: { ai_tool: $json['Birincil Arac'], ai_device: $json['Cihaz'], ai_stage: $json['Asama'], drive_link: $json['Drive Klasor Linki'] || '' } }) }}"
      },
      "id": "create-wp-post",
      "name": "WordPress Draft Olustur",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "credentials": { "httpBasicAuth": { "id": "wp-basic-auth", "name": "WordPress Basic Auth" } }
    }
  ],
  "connections": {
    "Her Saat Tetikle": { "main": [[{ "node": "Projeler Sayfasini Oku", "type": "main", "index": 0 }]] },
    "Projeler Sayfasini Oku": { "main": [[{ "node": "Yayina Hazir Filtrele", "type": "main", "index": 0 }]] },
    "Yayina Hazir Filtrele": { "main": [[{ "node": "WordPress Draft Olustur", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
